.card--movie {
  min-width: 800px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.movie-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 9rem;
  min-height: 350px;
}

.movie-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.opening-crawl {
  white-space: pre-wrap;
}

.actions {
  display: flex;
  flex-direction: row;
}

