.card--person {
  min-width: 800px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.person-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 9rem;
  min-height: 350px;
}

.person-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: row;
}
